<div class="user-item card">           
    
    <div class="card-body text-center">
        <span class="avatar avatar-xl mb-3 avatar-rounded" style="background-image: url({{user.avatar}})"></span>
        <a href="/creator/{{ user.id}}"><h3 class="card-title">{{ user.name}}</h3>
        </a>
        <div class="user-infor">
            <p>Số tác phẩm: {{ user.collection | count}}</p>
            <p>Năm sinh: {{ user.birth_year}}</p>
        </div>
        <div id="follower-count" class="follower badge bg-blue" style="padding: 5px;"><strong>{{user.affected | count }} follower 🧑</strong></div>
        <button type="button" class="btn button-follower" value="follow" name="{{user.id}}" id="u-{{user.id}}" onclick="addFollow(this)">Theo dõi</button>
    </div>
</div>