{% extends "base.html" %}
{% block title %} {{ title }} {% endblock %}
{% block content%}

<div class="row row-deck">
  {% for collection in all_collections %}
  <div class="col-6 col-md-3">
    
    {% include '_collection.html'  %}   
  </div>
  {% endfor %}
</div>
<div >
  <ul class="pagination">
    {% if prev_page %}
    <li class="page-item page-prev">
      <a href="{{prev_page}}" class="page-link">Trang trước</a>
    </li>
    {% else %}
    <li class="page-item page-prev disabled">
      <a href="#" class="page-link">Trang trước</a>
    </li>
    {% endif %}
    {% if next_page %}
    <li class="page-item page-next">
      <a href="{{next_page}}" class="page-link">Trang sau</a>
    </li>
    {% else %}
    <li class="page-item page-next disabled">
      <a href="#" class="page-link">Trang sau</a>
    </li>
    {% endif %}
  </ul>

</div>
{% endblock %}