{% extends "base.html" %}
{% block title %} Thay đổi thông tin cá nhân{% endblock %}
{% block content %}
<div class="row row-deck">
    <div class="col-12 col-md-6">
        <div class="card">
            <div class="card-body">
                <form class="form-group" action="#" method="post" enctype="multipart/form-data">
                    <label for="user_full_name">Tên đầy đủ</label>
                    <input type="text" class="form-control" name="user_full_name" id="user_full_name" value="{{user.name}}">
                    <label for="user_avatar">Ảnh cá nhân</label>
                    <img src="{{user.avatar}}" alt="">
                    <input type="file" class="form-control" name="user_avatar" id="user_avatar">
                    <br>
                    <input type="submit" class="btn btn-success">
                </form>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="card">
            <div class="card-header">Tiểu sử cá nhân</div>
            <div class="card-body">
                {% include "_editorjs.html"%}
            </div>
        </div>
    </div>
</div>
{% endblock %}