{% extends "base.html" %}
{% block title %}{{ collection.name }}{% endblock %}
{% block meta %}
<meta name="Description" content="{{ collection.short_desc }}">
{% endblock %}

{% block content%}

<div class="row">
    <div class="col-lg-8 ">
        <div class="row">
        <div class="col-md-4">
            <div  style="margin:5px">
                {% if current_user.id == collection.creator_id %}
                <a href="{{url_for("edit_collection", id=collection.id)}}" class="btn">Quản lý tác phẩm</a>
                {% else %}
                {% endif %}
            </div>
            {% include "_collection.html"  %}
            <div>
                <div class="fb-like" data-href="https://dreamer.asia/collection/{{ collection.id }}" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>
            </div>
            <div>
                <div class="fb-save" data-uri="https://dreamer.asia/collection/{{ collection.id }}" data-size="large"></div>
            </div>
        </div>
        <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                    <h2><strong>{{collection.name}}</strong> </h2>
                        
                    </div>
                    <div class="card-body">
                        <div class="main-content" id="detailInfomation">
                            {{ collection.desc | render }}
    
                        </div>
                        
                    </div>
                </div>
            <div class="fb-comments" data-href="https://dreamer.asia/collection/{{ collection.id }}" data-width="" data-numposts="10"></div>
            
            </div>
        </div>
        
    </div>

    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <p>Tác giả: 
                    <a href="/author/{{ collection.author }}" class="btn btn-primary">
                        {{ collection.owner.name }}
                    </a>
                </p>
                <p><strong>Thể loại: </strong>{{ collection.type }}</p>
                <p>
                    {{collection.short_desc}}
                </p>
                <p><strong>Thẻ đánh dấu: </strong>
                    {% if collection.tag == None %}
                    No Tag
                    {% else %}
                    {% with %}
                    {% set tags = collection.tag_render() %}
                    {% for tag in tags %}
                    <span class="badge bg-blue"><a href="/tag/{{ tag }}" class="text-white">{{ tag }}</a></span>
                    {% endfor %}
                    {% endwith %}
                    {% endif %}
                </p>
                {% if collection.publish_year %}
                <p><strong>Xuất bản: <a href="/year/{{ collection.publish_year}}">{{ collection.publish_year}}</a></strong></p>
                {% else %}
                {% endif %}
                
                
                
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h2>
                    <strong>
                        Xem trước nội dung 
                    </strong>
                </h2>
            </div>
            <div class="card-body" style="overflow: hidden;">
                {% for media in medias %}
                {% include '_media_list.html'  %}   
                {% endfor %}
            </div>
        </div>    
    </div>
</div>

{% endblock %}