{% extends "base.html" %}
{% block title %}{{ collection.name }}{% endblock %}
{% block meta %}
<meta name="Description" content="{{ collection.short_desc }}">
{% endblock %}

{% block content%}
<blockquote>
    {{collection.short_desc}}
</blockquote>
<div class="row">
    <div class="col-lg-8 ">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <div class="main-content" id="detailInfomation" aria-expanded="false" style="font-size: 1.2em;">
                        {{ collection.desc | render}}
    
                    </div>
                    <a href="#detailInfomation" ></a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Danh sách chương</h3>
                    <table class="table table-vcenter"> 
                        <tbody>
                            {% for i in collection.media %}
                            <tr>
                                <td>
                                    <a href="{{url_for('public_media', id=i.id)}}">{{i.name}}</a>
                                </td>
                                <td>
                                    {{i.time.ctime() }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="fb-comments" data-href="https://athena-publication.herokuapp.com{{url_for('public_collection', id=collection.id)}}" data-width="" data-numposts="5"></div>
        </div>
        
    </div>

    <div class="col-lg-4">
        <div class="card">

            <div>
                <img src="{{ collection.cover }}" alt="" class="cover">
            </div>
            <br>
            <div class="card-body">
                <p>Đăng bởi: 
                    <a href="/user/{{ collection.creator_id }}">
                        {{ collection.owner.name }}
                    </a>
                </p>               
                <p><strong>Thể loại:</strong>
                    {% if collection.tag == None %}
                    No Tag
                    {% else %}
                    {% with %}
                    {% set tags = collection.tag_render() %}
                    {% for tag in tags %}
                    <span class="badge bg-blue"><a href="/tag/{{ tag }}" class="text-white">{{ tag }}</a></span>
                    {% endfor %}
                    {% endwith %}
                    {% endif %}
                </p>
                {% if collection.download %}
                <div>
                    <a href="{{ collection.download }}">Tải về</a>
                </div>
                {% endif %}
                <div>
                    <div class="fb-like" data-href="https://dreamer.asia/collection/{{ collection.id }}" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>
                </div>
                <div>
                    <div class="fb-save" data-uri="https://dreamer.asia/collection/{{ collection.id }}" data-size="large"></div>
                </div>
                
                
            </div>
        </div> 
    </div>
</div>

{% endblock %}