{% extends "base.html" %}
{% block title %}{{chapter.name}}{% endblock %}
{% block search %}
{% endblock %}

{% block nav %}
{{super()}}

{% endblock %}
{% block style %}
{{super()}}

{% endblock %}
{% block content%}

<div class="row row-deck">
  <div class="col-12 col-md-8">
    
      <div class="modal fade" id="Editable" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      {% include '_searchmodal.html'  %} 
      </div>
  
    <div class="card" id="mainView">
      <div class="card-body">
        <div id="collectionID" data="{{collection.id}}"></div>
        <div id="currentChapter" data="{{chapter.id}}"></div>
        <div class="card-title" id="exampleModalLabel"></div>
        
        <div class="main-content" id=mainContent style="font-size: 1.2em;">
          {{ chapter.content | render }}
        </div>
      </div>
    </div>
    
  </div>
  <div class="col-12 col-md-4">
    <div class="card">
      <div class="card-header">
        Mục lục
      </div>
      <div class="card-body">
        <div>
          <h4>
            <a href="{{url_for('public_collection', id=collection.id)}}" class="nav-link">{{collection.name}}</a>
          </h4>
        </div>
        {% set all_chapters =  chapter.collection.media %}
        <table>
          <tbody>
            {% for c in all_chapters | sort(attribute="id") %}
            <tr>
              <td>
                <a href="{{url_for('public_media', id = c.id)}}" class="">{{c.name}}</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

</div>


{% endblock %}