{% extends "base.html" %}
{% block title %}{{chapter.name}}{% endblock %}
{% block search %}
{% endblock %}

{% block nav %}
{{super()}}

{% endblock %}
{% block style %}
{{super()}}

{% endblock %}
{% block content%}

<div class="row row-deck">
  <div class="col-12 col-md-8">
    
      <div class="modal fade" id="Editable" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      {% include '_searchmodal.html'  %} 
      </div>
  
    <div class="card" id="mainView">
      <div class="card-body">
        <div id="collectionID" data="{{collection.id}}"></div>
        <div id="currentChapter" data="{{chapter.id}}"></div>
        <div class="card-title" id="exampleModalLabel"></div>
        
        <div class="main-content" id=mainContent>
          {{ chapter.content | render }}
        </div>
      </div>
    </div>
    
  </div>
  <div class="col-12 col-md-4">
    <div class="card">
      <div class="card-header">
        Mục lục
      </div>
      <div class="card-body">
        <div>
          <h4>
            <a href="{{url_for('public_collection', id=collection.id)}}" class="nav-link">{{collection.name}}</a>
          </h4>
        </div>
        <a class="nav-link" href="/collection/{{collection.id}}">
          <!-- Download SVG icon from http://tabler-icons.io/i/info-circle -->
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="12" r="9" /><line x1="12" y1="8" x2="12.01" y2="8" /><polyline points="11 12 12 12 12 16 13 16" /></svg>
          <span class="nav-item">
            Trang tác phẩm
          </span>
        </a>
      </div>
    </div>
  </div>

</div>

</div>


{% endblock %}